<div class="row div-margin-botton">

  <form #form="ngForm" class="row g-3 needs-validation" novalidate>
    <div class="col-md-3">
      <label for="designName" class="form-label fw-bold">Design Name </label>
      <input type="text" class="form-control" [readOnly]="action=='view'" name="designName"
        [(ngModel)]="designObj.designName" id="designName">
    </div>  
    <div class="col-1 align-right">
      <button class="margin-top-30 btn btn-primary" name="gstNo" (click)="searchDesign()" id="gstNo"> Search </button>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-2 div-margin-top align-left font-bold">Record Count : {{totalRecord}}</div>
  <div class="col-9"></div>
  <div class="col-1 ">
    <i class="bi bi-filetype-csv font-size-30" (click)="onBtnExport()"></i>
    <i class="bi bi-filetype-xls font-size-30" (click)="onBtnExportExcel()"></i>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ag-grid-angular class="ag-theme-quartz" style="height: 500px;" [rowData]="designList" [columnDefs]="colDefs"
      [defaultColDef]="defaultColDef" (gridReady)="onGridReady($event)" />
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Design</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Do you want to delete the Design?
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" (click)="deleteDesign()" data-bs-dismiss="modal">Yes</button>
      </div>

    </div>
  </div>
</div>