<div class="container">
    <div class="row">
        <div class="col-12 div-margin-top">
            <div *ngIf="showSuccessMessage" class="alert alert-success alert-dismissible fade show" role="alert">
                {{ successMessage }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
    <form #form="ngForm" class="row g-3 needs-validation div-margin-top" novalidate>
        <div class="col-md-4">
            <label for="designName" class="form-label fw-bold">Design Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" [readOnly]="action=='view'" #designName="ngModel" name="designName"
                [(ngModel)]="designObj.designName" id="designName"
                (ngModelChange)="designObj.designName = $event.toUpperCase()" required>

            <div class="text-danger">
                @if(designName.errors?.['required'] && designName.touched && designName.dirty) {
                <span>This is required</span>
                }
            </div>
        </div>
        <div class="col-md-4">
            <label for="description" class="form-label fw-bold">Description <span class="text-danger">*</span></label>
            <input type="text" class="form-control" #description="ngModel" name="description"
                [readOnly]="action=='view'" [(ngModel)]="designObj.description" id="description" required>

            <div class="text-danger">
                <span *ngIf="description.errors?.['required'] && description.touched">This is required</span>
            </div>
        </div>

      
        <div class="col-md-4 margin-top-45 align-right">
            <button [disabled]="form.invalid" *ngIf="action != 'view'" class="btn btn-primary align-left" type="submit"
                (click)="onSave()">Save</button>
            <button class="btn btn-primary margin-left-10" type="submit" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>