<div class="container">


  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #51626e;">
    <!-- <a class="navbar-brand" routerLink="/">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item dropdown">
          <a class="nav-link menu-item-font dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Party
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/create-client">New</a></li>
            <li><a class="dropdown-item" routerLink="/list-client">Search</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link menu-item-font dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Contractor
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/create-contractor">New</a></li>
            <li><a class="dropdown-item" routerLink="/list-contractor">Search</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link menu-item-font dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Design
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/create-design">New</a></li>
            <li><a class="dropdown-item" routerLink="/list-design">Search</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link menu-item-font dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Color
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/create-color">New</a></li>
            <li><a class="dropdown-item" routerLink="/list-color">Search</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link menu-item-font dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Contractor Challan
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/create-contractor-challan">New</a></li>
            <li><a class="dropdown-item" routerLink="/list-contractor-challan">Search</a></li>
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link menu-item-font" routerLink="/job-worker-transaction">Party Challan</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link menu-item-font dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Party Challan
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/create-client-challan">New</a></li>
            <li><a class="dropdown-item" routerLink="/lsit-client-challan">Search</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link menu-item-font dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Register
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/stock-register">Stock Register</a></li>
            <li><a class="dropdown-item" routerLink="/contractor-register">Contractor Stock Register</a></li>
            <!-- <li><a class="dropdown-item" routerLink="/party-challan-register">Party Challan Register</a></li>
            <li><a class="dropdown-item" routerLink="/contractor-challan-register">Contractor Challan Register</a></li> -->
            <!-- <li><a class="dropdown-item" routerLink="/design-stock-reports">Design Stock Report</a></li>
            <li><a class="dropdown-item" routerLink="/contractor-stock-reports">Contractor Stock Report</a></li> -->
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link menu-item-font" routerLink="/user">Users</a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link menu-item-font" routerLink="/client-order">Logout</a>
        </li>


      </ul>
    </div>

    <!-- <form class="form-inline">
        <input class="form-control mr-sm-2"  #search type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="searchText($event)" type="submit">Search</button>
      </form> -->
  </nav>

  <!-- <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">My Stock Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"> Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Color
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">New Color</a>
            <a class="dropdown-item" href="#">Search Color</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Download Color List</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Design
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">New Design</a>
            <a class="dropdown-item" href="#">Search Design</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Download Design List</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Party
          </a>
          <div class="dropdown-menu" href="#" aria-labelledby="navbarDropdown">

            <a class="dropdown-item" href="#" routerLink="/create-client">New</a>
            <a class="dropdown-item" routerLink="/list-client">Search</a>
           
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Download Party List</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Contractor
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">New Contractor</a>
            <a class="dropdown-item" href="#">Search Contractor</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Download Contractor List</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Challan
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">New Contractor Challan</a>
            <a class="dropdown-item" href="#">Search Contractor Challan</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">New Party Challan</a>
            <a class="dropdown-item" href="#">Search Party Challan</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Report
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Stock Register</a>
            <a class="dropdown-item" href="#">Contractor Stock Register</a>
            <a class="dropdown-item" href="#">Contractor Challan Register</a>
            <a class="dropdown-item" href="#">Party Challan Register</a>
          </div>
        </li>
      </ul>

    </div>
  </nav> -->

  <div style="height: 683px;">
    <router-outlet></router-outlet>
  </div>
  <!--
  <footer class=" text-center text-white" >
    <div class="text-center p-3" style="background-color: rgb(33, 37, 41);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">Ashish Kumar.com</a>
    </div>
</footer> -->

</div>