
<div class="container">


<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #51626e;">
    <!-- <a class="navbar-brand" routerLink="/">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

         <li class="nav-item dropdown">
          <a class="nav-link menu-item-font dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Party
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/create-client">New</a></li>
            <li><a class="dropdown-item" routerLink="/list-client">Search</a></li>
          </ul>
        </li>

         <li class="nav-item dropdown">
          <a class="nav-link menu-item-font dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Contractor
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/create-contractor">New</a></li>
            <li><a class="dropdown-item" routerLink="/list-contractor">Search</a></li>
          </ul>
        </li>

         <li class="nav-item dropdown">
          <a class="nav-link menu-item-font dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Design
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/create-design">New</a></li>
            <li><a class="dropdown-item" routerLink="/list-design">Search</a></li>
          </ul>
        </li>

         <li class="nav-item dropdown">
          <a class="nav-link menu-item-font dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Color
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/create-color">New</a></li>
            <li><a class="dropdown-item" routerLink="/list-color">Search</a></li>
          </ul>
        </li>

         <li class="nav-item dropdown">
          <a class="nav-link menu-item-font dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Contractor Challan
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/create-contractor-challan" >New</a></li>
            <li><a class="dropdown-item" routerLink="/list-contractor-challan" >Search</a></li>
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link menu-item-font" routerLink="/job-worker-transaction">Party Challan</a>
        </li> -->
         <li class="nav-item dropdown">
          <a class="nav-link menu-item-font dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Party Challan
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/create-client-challan">New</a></li>
            <li><a class="dropdown-item" routerLink="/lsit-client-challan">Search</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link menu-item-font dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Report
          </a>
          <ul class="dropdown-menu">
           <li><a class="dropdown-item" routerLink="/stock-register">Stock Register</a></li>
            <li><a class="dropdown-item" routerLink="/contractor-register">Contractor Register</a></li>
            <li><a class="dropdown-item" routerLink="/party-challan-register">Party Challan Register</a></li>
            <li><a class="dropdown-item" routerLink="/contractor-challan-register">Contractor Challan Register</a></li>
            <li><a class="dropdown-item" routerLink="/design-stock-reports">Design Stock Report</a></li>
            <li><a class="dropdown-item" routerLink="/contractor-stock-reports">Contractor Stock Report</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-item-font" routerLink="/user">Users</a>
        </li>

        <li class="nav-item">
          <a class="nav-link menu-item-font" routerLink="/client-order">Logout</a>
        </li>


      </ul>
    </div>

    <!-- <form class="form-inline">
        <input class="form-control mr-sm-2"  #search type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="searchText($event)" type="submit">Search</button>
      </form> -->
  </nav>

  <div style="height: 683px;">
  <router-outlet></router-outlet>
  </div>
<!--
  <footer class=" text-center text-white" >
    <div class="text-center p-3" style="background-color: rgb(33, 37, 41);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">Ashish Kumar.com</a>
    </div>
</footer> -->

</div>

