<div class="container">
    <form #form="ngForm" class="row g-3 needs-validation div-margin-top" novalidate>
        <div class="col-md-4">
            <label for="colorName" class="form-label fw-bold">Color Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" [readOnly]="action=='view'" #colorName="ngModel" name="colorName"
                [(ngModel)]="colorObj.colorName" id="colorName" required>

            <div class="text-danger">
                @if(colorName.errors?.['required'] && colorName.touched && colorName.dirty) {
                <span>This field is mendatory</span>
                }
            </div>
        </div>
        <div class="col-md-2" *ngIf="showStatus">
            <label for="active" class="form-label fw-bold">Status</label>
            <select class="form-select" name="active" [disabled]="action=='view'" [(ngModel)]="colorObj.active"
                id="active">
                <option value="true">Active</option>
                <option value="false">InActive</option>
            </select>
        </div>

        <div class="col-md-4 margin-top-45 align-right">
            <button [disabled]="form.invalid" *ngIf="action != 'view'" class="btn btn-primary align-left" type="submit"
                (click)="onSave()">Save</button>
            <button *ngIf="action=='view'" class="btn btn-primary margin-left-10" type="submit"
                (click)="cancel()">Close</button>
            <button *ngIf="action!='view'" class="btn btn-primary margin-left-10" type="submit"
                (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>