<div class="container">
  <div class="row">
    <div class="col-12 div-margin-top">
      <div *ngIf="showSuccessMessage"
        class="alert alert-success alert-dismissible fade show" role="alert">
        {{ successMessage }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"
          aria-label="Close"></button>
      </div>
    </div>
  </div>
  <form #form="ngForm" class="row g-3 needs-validation div-margin-top"
    novalidate>
    <div class="col-md-4">
      <label for="contractorName" class="form-label fw-bold">Contractor Name
        <span class="text-danger">*</span></label>
      <input type="text" class="form-control" [readOnly]="action=='view'"
        #contractorName="ngModel" name="contractorName"
        [(ngModel)]="contractorObj.contractorName" id="contractorName"
        (ngModelChange)="contractorObj.contractorName = $event.toUpperCase()"
        required>

      <div class="text-danger">
        @if(contractorName.errors?.['required'] && contractorName.touched &&
        contractorName.dirty) {
        <span>This is required</span>
        }
      </div>
    </div>

    <div class="col-md-4">
      <label for="email" class="form-label fw-bold">Email <span
          class="text-danger">*</span></label>
      <input type="text" class="form-control" minlength="4" #email="ngModel"
        name="email"
        [readOnly]="action=='view'" [(ngModel)]="contractorObj.email" id="email"
        required>

      <div class="text-danger">
        <span *ngIf="email.errors?.['required'] && email.touched">This is
          required</span>
      </div>
      <div class="text-danger">
        <span *ngIf="email.errors?.['minlength'] && email.touched">Min 4 Char is
          Required</span>
      </div>
    </div>

    <div class="col-md-4">
      <label for="mobile" class="form-label fw-bold">Mobile Number <span
          class="text-danger">*</span></label>
     <!-- <div class="input-group has-validation"> -->

        <input type="text" maxlength="10" class="form-control" name="mobile"
          [readOnly]="action=='view'" #mobile="ngModel"
          [(ngModel)]="contractorObj.mobile"
          id="mobile" aria-describedby="inputGroupPrepend"
          (keypress)="utilsService.numberOnly($event)" required>

        <div class="text-danger">
          <span *ngIf="mobile.errors?.['required'] && mobile.touched">This is
            required</span>
        </div>

        <div class="invalid-feedback">
          Please Enter Mobile Number.
        </div>

    </div>
    <div class="col-md-4">
      <label for="address" class="form-label fw-bold">Address</label>
      <input type="text" class="form-control" name="address"
        [readOnly]="action=='view'" [(ngModel)]="contractorObj.address"
        id="address"
        (ngModelChange)="contractorObj.address = $event.toUpperCase()">
      <div class="invalid-feedback">
        Please Enter Address.
      </div>
    </div>
    <div class="col-md-4">
      <label for="city" class="form-label fw-bold">City</label>
      <input type="text" class="form-control" name="city"
        [readOnly]="action=='view'" [(ngModel)]="contractorObj.city"
        id="city" (ngModelChange)="contractorObj.city = $event.toUpperCase()">
      <div class="invalid-feedback">
        Please Enter City.
      </div>
    </div>
    <div class="col-md-4">
      <label for="state" class="form-label fw-bold">State</label>
      <select class="form-select" name="state" [disabled]="action=='view'"
        [(ngModel)]="contractorObj.state" id="state">
        <option selected disabled value>Choose...</option>
        <option>Delhi</option>
        <option>UP</option>
        <option>Haryana</option>
      </select>
      <div class="invalid-feedback">
        Please select a valid state.
      </div>
    </div>
    <div class="col-md-4">
      <label for="country" class="form-label fw-bold">Country</label>
      <input type="text" class="form-control" name="country"
        [readOnly]="action=='view'" [(ngModel)]="contractorObj.country"
        id="country"
        (ngModelChange)="contractorObj.country = $event.toUpperCase()">
      <div class="invalid-feedback">
        Please Enter Country.
      </div>
    </div>
    <div class="col-md-4">
      <label for="gstNo" class="form-label fw-bold">GST Number <span
          class="text-danger">*</span></label>
      <input type="text" maxlength="15" class="form-control" (keyup)="validateGst()"name="gstNo"
        [readOnly]="action=='view'" [(ngModel)]="contractorObj.gstNo"
        id="gstNo">
       <div class="text-danger">
        @if(isValidGst) {
        <span>GST No should be 15 Digit</span>
        }
      </div>
    </div>
    <div class="col-md-4 margin-top-45 align-right">
      <button [disabled]="form.invalid" *ngIf="action != 'view'"
        class="btn btn-primary align-left" type="submit"
        (click)="onSave()">Save</button>
      <button class="btn btn-primary margin-left-10" type="submit"
        (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
